.header{
  width: 100%;
  height: 150px;
  background: lightgray;
}
.meny{
  width: 100%;
  height: 50px;
  background: darkgray;
}
.menyButton{
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.menyButton:hover{
  background: lightgray;
}
.productList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}