@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.header{
  width: 100%;
  height: 150px;
  background: #df5151;
  background-image: url("./img/banner-pizza.jpg");
  background-size: 100%;
  background-position-y: 150px;
}
.main{
  width: 100%;
  height: 350px;
  background-image: url("./img/Supreme_pizza.jpg");
  background-size: 100%;
  background-position-y: -300px;
  border-bottom: 5px solid #db3131;
}
.meny{
  width: 100%;
  height: 50px;
  padding-left: 80px;
  background: #db3131;
}
.menyButton{
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  border-radius: 10px;
}
.menyButton:hover{
  background: #df5151;
}
.productList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rev{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  
}
.pizzaLink a{
  text-decoration: none;
  color: black;
}
.pizzaLink a:hover{
  color: #db3131;
}
.navBtn{
  width: 100px;
  height: 25px;
  margin: 3px;
  border: none;
  background: #db3131;
  color: white;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.navBtn:hover{
  background: #df5151;
}
.navBtn:disabled{
  background: lightgray;
}
/* Style Rating Stars */
.is-active-half::before{
  color: #ffb400 !important;
  -webkit-text-stroke: 1px #000000;
}
.is-active{
  color: #ffb400 !important;
  -webkit-text-stroke: 1px #000000;
}
.react-rater-star{
  color: #494949;
  -webkit-text-stroke: 1px #000000;
}
.commentBtn{
  background: #3737fd;
  color: white;
  border-radius: 3px;
  outline: none;
  width: 150px;
  height: 25px;
  margin: 3px;
  border: none;
  cursor: pointer;
}
.commentBtn:hover{
  background: #5c5cfa;
}
.buyBtn{
  width: 60px;
  height: 25px;
  margin: 3px;
  border: none;
  background: #1ac932;
  color: white;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.buyBtn:hover{
  background: #46c557;
}
.widgetBtn{
  width: 350px;
  height: 200px;
  margin: 30px;
  background-size: 100%;
  background-position-y: 10px;
  outline: none;
  border-radius: 10px;
  border: 5px solid #db3131;
  background-position-y: 0px;
  color: white;
  font-size: 70px;
  font-family: 'Lobster', cursive;
  -webkit-text-stroke: 2px black;
  cursor: pointer;
}
.widgetBtn:hover{
  background: #df5151;
  opacity: 0.6;
}
.widgetBtn1{
  background-image: url(./img/cart_no_text.jpg);
}
.widgetBtn1:hover{
  background-image: url(./img/cart_no_text.jpg);
}
.widgetBtn2{
  background-image: url(./img/buy_pizza_no_text.jpg);
}
.widgetBtn2:hover{
  background-image: url(./img/buy_pizza_no_text.jpg);
}
.widgetBtn3{
  background-image: url(./img/contact_no_text.jpg);
}
.widgetBtn3:hover{
  background-image: url(./img/contact_no_text.jpg);
}
